[submodule "opt/zsh-autosuggestions"]
	path = opt/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "opt/zsh-syntax-highlighting"]
	path = opt/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "opt/zsh-z"]
	path = opt/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "opt/zsh-completions"]
	path = opt/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "opt/pure"]
	path = opt/pure
	url = https://github.com/fesaille/pure.git
	branch = venv
[submodule "opt/zsh-autoswitch-virtualenv"]
	path = opt/zsh-autoswitch-virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
